In [1]:
# The Anaconda's Navigator comes installed with some of the necessary library packages.
# However,as per our use, we needed to download some extra python libraries,
# to increase the productivity and efficiency of our code.
# Some of these libraries installing commands are first seen executing.
# Then the actual code, For our project starts ;)


#LightGBM is a gradient boosting framework,
#that is used for various machine learning tasks,
#particularly in the field of data science and analytics.

!pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\rayya\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: numpy in c:\users\rayya\anaconda3\lib\site-packages (from lightgbm) (1.24.3)
Requirement already satisfied: scipy in c:\users\rayya\anaconda3\lib\site-packages (from lightgbm) (1.11.1)

In [2]:
# XGBoost is a popular machine learning algorithm that is often used for,
# High Performance, Scalability, Regularization and it's easy implementation. 

!pip install xgboost

Requirement already satisfied: xgboost in c:\users\rayya\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: numpy in c:\users\rayya\anaconda3\lib\site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in c:\users\rayya\anaconda3\lib\site-packages (from xgboost) (1.11.1)

In [3]:
# Plotly is a popular data visualization library that is commonly used for,
# Interactive Visualisation, Chart Types and many more.

!pip install plotly

Requirement already satisfied: plotly in c:\users\rayya\anaconda3\lib\site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\rayya\anaconda3\lib\site-packages (from plotly) (8.2.2)

In [4]:
# Chart Studio, also known as Plotly Chart Studio, is a web-based platform for
# creating and sharing interactive data visualizations. 

!pip install chart-studio

Requirement already satisfied: chart-studio in c:\users\rayya\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: plotly in c:\users\rayya\anaconda3\lib\site-packages (from chart-studio) (5.9.0)
Requirement already satisfied: requests in c:\users\rayya\anaconda3\lib\site-packages (from chart-studio) (2.31.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\rayya\anaconda3\lib\site-packages (from chart-studio) (1.3.4)
Requirement already satisfied: six in c:\users\rayya\anaconda3\lib\site-packages (from chart-studio) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\rayya\anaconda3\lib\site-packages (from plotly->chart-studio) (8.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rayya\anaconda3\lib\site-packages (from requests->chart-studio) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rayya\anaconda3\lib\site-packages (from requests->chart-studio) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rayya\anaconda3\lib\site-packages (from requests->chart-studio) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rayya\anaconda3\lib\site-packages (from requests->chart-studio) (2023.7.22)

In [5]:
# Bubbly is an abbreviation of bubbles in Jupyter Notebook.
# They are mostly used to create bubble charts.

!pip install bubbly

Requirement already satisfied: bubbly in c:\users\rayya\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: plotly in c:\users\rayya\anaconda3\lib\site-packages (from bubbly) (5.9.0)
Requirement already satisfied: pandas in c:\users\rayya\anaconda3\lib\site-packages (from bubbly) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rayya\anaconda3\lib\site-packages (from pandas->bubbly) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rayya\anaconda3\lib\site-packages (from pandas->bubbly) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rayya\anaconda3\lib\site-packages (from pandas->bubbly) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\rayya\anaconda3\lib\site-packages (from pandas->bubbly) (1.24.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\rayya\anaconda3\lib\site-packages (from plotly->bubbly) (8.2.2)
Requirement already satisfied: six>=1.5 in c:\users\rayya\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->bubbly) (1.16.0)

In [6]:
# TensorFlow is a popular open-source machine learning framework developed by Google
# for various machine learning and deep learning tasks.

!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\rayya\anaconda3\lib\site-packages (2.14.0)
Requirement already satisfied: tensorflow-intel==2.14.0 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow) (2.14.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.0.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (23.5.26)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.9.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (16.0.6)
Requirement already satisfied: ml-dtypes==0.2.0 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: numpy>=1.23.5 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.24.3)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.24.4)
Requirement already satisfied: setuptools in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (68.0.0)
Requirement already satisfied: six>=1.12.0 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.7.1)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.31.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.59.0)
Requirement already satisfied: tensorboard<2.15,>=2.14 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.1)
Requirement already satisfied: tensorflow-estimator<2.15,>=2.14.0 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: keras<2.15,>=2.14.0 in c:\users\rayya\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\rayya\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.14.0->tensorflow) (0.38.4)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\rayya\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.23.2)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\users\rayya\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\rayya\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.4.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\rayya\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.31.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\rayya\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.7.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\rayya\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.2.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\rayya\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\rayya\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\rayya\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\rayya\anaconda3\lib\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rayya\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rayya\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rayya\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rayya\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2023.7.22)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\rayya\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\rayya\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\rayya\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.2.2)

In [7]:
# Our code Starts from this input. Here we have Performed Data Cleansing and Data Preprocessing on the 
# Two Dataset that we were given from KAGGLE.

# %matplotlib inline: This magic command in Jupyter enables inline plotting of Matplotlib graphs in the notebook.
%matplotlib inline

# Import necessary libraries for data analysis and visualization.
import numpy as np  # Import NumPy for numerical computations.
import pandas as pd  # Import Pandas for data processing and handling.
import matplotlib.pyplot as plt  # Import Matplotlib for data visualization.

# Import datetime library for handling date and time data.
import datetime

# Import the os library to interact with the operating system.
import os

# Import libraries for data preprocessing.
from sklearn.preprocessing import LabelEncoder  # Used for encoding categorical variables.
from sklearn.preprocessing import MinMaxScaler  # Used for feature scaling.

# Import machine learning libraries for modeling.
import lightgbm as lgb  # LightGBM is a gradient boosting framework.
import xgboost as xgb  # XGBoost is another gradient boosting library.

# Import library for evaluating machine learning models.
from sklearn.metrics import mean_squared_error

# Import the math library for mathematical operations.
from math import sqrt

# Suppress warning messages to keep the output cleaner.
import warnings
warnings.filterwarnings('ignore')

# Print the list of files and directories in the specified directory.
print(os.listdir("C:\\Users\\rayya\\OneDrive\\Desktop\\IBM Project"))

['20140711.CSV', 'archive.zip', 'output_geo.csv', 'Public Transport Boarding Summary by Route, Trip, Stop and Week of Year.doc', 'route.csv', 'st_week_grp.csv', 'Weekly_Boarding.csv']

In [8]:
# Import the 'numpy' library and give it the alias 'np' for easier reference.
import numpy as np

# Import the 'pandas' library and give it the alias 'pd' for easier reference.
import pandas as pd

# Import the 'os' library for operating system-related functions.
# This will be used to traverse the directory structure.
import os

# Iterate through the directory and its subdirectories using 'os.walk'.
for dirname, _, filenames in os.walk("C:\\Users\\rayya\\OneDrive\\Desktop\\IBM Project"):
    # Loop through the list of filenames in the current directory.
    for filename in filenames:
        # Print the full path of each file in the directory.
        print(os.path.join(dirname, filename))

C:\Users\rayya\OneDrive\Desktop\IBM Project\20140711.CSV
C:\Users\rayya\OneDrive\Desktop\IBM Project\archive.zip
C:\Users\rayya\OneDrive\Desktop\IBM Project\output_geo.csv
C:\Users\rayya\OneDrive\Desktop\IBM Project\Public Transport Boarding Summary by Route, Trip, Stop and Week of Year.doc
C:\Users\rayya\OneDrive\Desktop\IBM Project\route.csv
C:\Users\rayya\OneDrive\Desktop\IBM Project\st_week_grp.csv
C:\Users\rayya\OneDrive\Desktop\IBM Project\Weekly_Boarding.csv

In [9]:
# This line is a comment indicating that we are about to load a dataset.
print("Load the dataset")

# This line imports the Pandas library and assigns it the alias 'pd'.
import pandas as pd

# This line reads a CSV file into a Pandas DataFrame and stores it in the 'data' variable.
# The 'low_memory' parameter is set to 'False' to prevent warning messages about data types.
data = pd.read_csv("C:\\Users\\rayya\\OneDrive\\Desktop\\IBM Project\\20140711.CSV", low_memory=False)

# This line prints the dimensions (number of rows and columns) of the DataFrame 'data'.
data.shape

# This line displays the first 10 rows of the DataFrame 'data'.
data.head(10)

Load the dataset

,TripID,RouteID,StopID,StopName,WeekBeginning,NumberOfBoardings
0,23631,100,14156,181 Cross Rd,30-06-2013,1
1,23631,100,14144,177 Cross Rd,30-06-2013,1
2,23632,100,14132,175 Cross Rd,30-06-2013,1
3,23633,100,12266,Zone A Arndale Interchange,30-06-2013,2
4,23633,100,14147,178 Cross Rd,30-06-2013,1
5,23634,100,13907,9A Marion Rd,30-06-2013,1
6,23634,100,14132,175 Cross Rd,30-06-2013,1
7,23634,100,13335,9A Holbrooks Rd,30-06-2013,1
8,23634,100,13875,9 Marion Rd,30-06-2013,1
9,23634,100,13045,206 Holbrooks Rd,30-06-2013,1

In [10]:
# Earlier above, We have already mentioned the use of each Python Library.
# In this input, We are just importing them with their reference alias names.

import lightgbm as lgb
import xgboost as xgb
import plotly.express as px
import bubbly.bubbly
import tensorflow as tf

In [11]:
# Import the necessary modules from Plotly to create interactive plots.
import plotly.graph_objs as go

# Import tools module for additional Plotly tools.
from plotly import tools

# Import functions for offline plotting using Plotly.
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

# Import the 'plot' function from chart_studio.plotly for Plotly cloud integration.
from chart_studio.plotly import plot as chart_studio_plot

# Import the 'bubbleplot' function from the 'bubbly' library for creating bubble charts.
from bubbly.bubbly import bubbleplot

# Initialize Plotly in notebook mode to enable interactive plotting within the Jupyter notebook.
init_notebook_mode(connected=True)

In [12]:
# Importing the necessary modules for creating and displaying Bokeh plots.
from bokeh.plotting import figure, save
from bokeh.io import output_file, output_notebook, show

# Importing modules required for creating maps and adding interactive tools.
from bokeh.models import ColumnDataSource, GMapOptions, HoverTool

# Importing the 'gmap' function for creating Google Maps plots using Bokeh.
from bokeh.plotting import gmap

In [13]:
# Import the TensorFlow library, allowing you to access its functions and classes.
import tensorflow as tf

# Import the Sequential model from TensorFlow's Keras API. 
# Sequential is used to build a linear stack of layers for neural networks.
from tensorflow.keras.models import Sequential

# Importing various layer types from Keras to construct neural network architectures.
# Input, Dense, GRU, LSTM, and Embedding are different types of layers.
from tensorflow.keras.layers import Input, Dense, GRU, LSTM, Embedding

# Import the RMSprop optimizer from Keras. Optimizers are used to update model weights during training.
from tensorflow.keras.optimizers import RMSprop

# Import callbacks from Keras. Callbacks are functions that are called during training to perform specific tasks.
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard, ReduceLROnPlateau

In [14]:
# Import the RMSprop optimizer from the TensorFlow.keras.optimizers module.
from tensorflow.keras.optimizers import RMSprop

# The imported RMSprop optimizer can be used for optimizing neural network models.

In [15]:
# Import the InteractiveShell class from the IPython core library.
from IPython.core.interactiveshell import InteractiveShell

# Create an instance of the InteractiveShell class and set the `ast_node_interactivity` attribute.
InteractiveShell.ast_node_interactivity = "all"

# The next line configures the behavior of IPython's interactive shell to display the output of all expressions,
# even those that are not the result of the last line in a code cell.

In [16]:
# Import the pandas library and alias it as "pd" for convenience.
import pandas as pd

# Read a CSV file located at the specified path and store the data in the "data" variable.
data = pd.read_csv("C:\\Users\\rayya\\OneDrive\\Desktop\\IBM Project\\20140711.CSV", low_memory=False)

In [17]:
# This line reads a CSV file called "output_geo.csv" from the specified file path
out_geo = pd.read_csv("C:\\Users\\rayya\\OneDrive\\Desktop\\IBM Project\\output_geo.csv")

# This line reads another CSV file called "route.csv" from the specified file path
route = pd.read_csv("C:\\Users\\rayya\\OneDrive\\Desktop\\IBM Project\\route.csv")

In [18]:
# The following line is used to retrieve the shape (dimensions) of the 'data' DataFrame.
data.shape

# The next line displays the first 5 rows of the 'data' DataFrame, which is often done to inspect the data.
data.head(5)

(1048575, 6)

,TripID,RouteID,StopID,StopName,WeekBeginning,NumberOfBoardings
0,23631,100,14156,181 Cross Rd,30-06-2013,1
1,23631,100,14144,177 Cross Rd,30-06-2013,1
2,23632,100,14132,175 Cross Rd,30-06-2013,1
3,23633,100,12266,Zone A Arndale Interchange,30-06-2013,2
4,23633,100,14147,178 Cross Rd,30-06-2013,1

In [19]:
out_geo.head(5)
route.head(5)

,accuracy,formatted_address,google_place_id,input_string,latitude,longitude,number_of_results,postcode,status,type
0,ROOFTOP,"181 Cross Rd, Westbourne Park SA 5041, Australia",ChIJKT7I9rbPsGoRVHMHkIy-Oyk,181 Cross Rd,-34.966656,138.592148,1,5041,OK,street_address
1,ROOFTOP,"177 Cross Rd, Westbourne Park SA 5041, Australia",ChIJ-VFZ87bPsGoRyfVgC5qbPpE,182 Cross Rd,-34.966607,138.592301,1,5041,OK,street_address
2,ROOFTOP,"175 Cross Rd, Westbourne Park SA 5041, Australia",ChIJIztlirbPsGoR38KRk76kPFI,183 Cross Rd,-34.966758,138.592715,1,5041,OK,street_address
3,GEOMETRIC_CENTER,"Zone A Arndale Interchange - South side, Kilke...",ChIJn0C1hCPGsGoRIWvCdhF1RIg,184 Cross Rd,-34.875160,138.551628,1,5009,OK,"bus_station,establishment,point_of_interest,tr..."
4,ROOFTOP,"178 Cross Rd, Malvern SA 5061, Australia",ChIJycNiylvOsGoRdhfq9GKnpq0,185 Cross Rd,-34.964960,138.611477,1,5061,OK,street_address

,route_id,agency_id,route_short_name,long_name,route_desc,route_type,route_url,route_color,route_text_color,route_group
0,100,6,100,181 Cross Rd,"181 Cross Rd, Westbourne Park SA 5041, Australia",3,http://www.adelaidemetro.com.au/routes/100,0033CC,ffffff,100-101
1,100,8,100,182 Cross Rd,"177 Cross Rd, Westbourne Park SA 5041, Australia",1,http://www.adelaidemetro.com.au/routes/101,0033CC,ffffff,100-101
2,100,8,100,183 Cross Rd,"175 Cross Rd, Westbourne Park SA 5041, Australia",2,http://www.adelaidemetro.com.au/routes/102,0033CC,ffffff,100-101
3,100,5,100,184 Cross Rd,"Zone A Arndale Interchange - South side, Kilke...",1,http://www.adelaidemetro.com.au/routes/103,0033CC,ffffff,100-101
4,100,8,100,185 Cross Rd,"178 Cross Rd, Malvern SA 5061, Australia",2,http://www.adelaidemetro.com.au/routes/104,0033CC,ffffff,100-101

In [20]:
# The line below is used to remove duplicate rows from the 'data' DataFrame.
data = data.drop_duplicates()

# The two lines below import the 'seaborn' library and alias it as 'sns' for data visualization purposes.
import seaborn as sns

# The line below prints the data types of the columns in the 'data' DataFrame.
print(data.dtypes)

TripID                int64
RouteID               int64
StopID                int64
StopName             object
WeekBeginning        object
NumberOfBoardings     int64
dtype: object

In [21]:
# Convert the 'RouteID' column to numeric, handling errors by coercing non-numeric values to NaN.
data['RouteID'] = pd.to_numeric(data['RouteID'], errors='coerce')

# Print a message indicating that we are handling mixed data types.
print("Handle mixed data types")

# Print the shape of the 'data' DataFrame to check the number of rows and columns after the operation.
print(data.shape)

Handle mixed data types
(1048575, 6)

In [22]:
# Remove rows with missing values (NaN) from the 'data' DataFrame.
data = data.dropna()

# Print a message indicating that we are handling missing values.
print("\nHandle missing values")

# Print the shape (number of rows and columns) of the 'data' DataFrame after removing missing values.
print(data.shape)

Handle missing values
(1048575, 6)

In [23]:
# Convert the 'WeekBeginning' column to a datetime format.
# This line converts the 'WeekBeginning' column in the DataFrame to datetime format. 
# The 'errors' parameter is set to 'coerce', which means that any parsing errors 
# during the conversion will be set to NaT (Not-a-Time) values.

data['WeekBeginning'] = pd.to_datetime(data['WeekBeginning'], errors='coerce')

# Print a message to indicate the conversion of the 'WeekBeginning' column to datetime format.
print("\nConvert 'WeekBeginning' column to datetime format")

# Print the first few rows of the 'WeekBeginning' column after the conversion.
print(data['WeekBeginning'].head())

Convert 'WeekBeginning' column to datetime format
0   2013-06-30
1   2013-06-30
2   2013-06-30
3   2013-06-30
4   2013-06-30
Name: WeekBeginning, dtype: datetime64[ns]

In [24]:
data.head() # Prints the first five rows of a table.

,TripID,RouteID,StopID,StopName,WeekBeginning,NumberOfBoardings
0,23631,100,14156,181 Cross Rd,2013-06-30,1
1,23631,100,14144,177 Cross Rd,2013-06-30,1
2,23632,100,14132,175 Cross Rd,2013-06-30,1
3,23633,100,12266,Zone A Arndale Interchange,2013-06-30,2
4,23633,100,14147,178 Cross Rd,2013-06-30,1

In [25]:
# This code line prints the number of unique values in each column of the 'data' DataFrame.
# It's useful for understanding the diversity of values in your dataset.
print(data.nunique())

TripID               3293
RouteID                20
StopID                963
StopName              577
WeekBeginning          54
NumberOfBoardings     160
dtype: int64

In [26]:
data.shape
data.columns
data.head(3)

(1048575, 6)

Index(['TripID', 'RouteID', 'StopID', 'StopName', 'WeekBeginning',
       'NumberOfBoardings'],
      dtype='object')

   TripID  RouteID  StopID      StopName WeekBeginning  NumberOfBoardings
0   23631      100   14156  181 Cross Rd    2013-06-30                  1
1   23631      100   14144  177 Cross Rd    2013-06-30                  1
2   23632      100   14132  175 Cross Rd    2013-06-30                  1

In [27]:
# Importing specific trigonometric and mathematical functions from the math module.
from math import sin, cos, sqrt, atan2, radians

# Define a function 'calc_dist' that calculates the distance between two geographic coordinates.
def calc_dist(lat1, lon1):
    # Approximate radius of the Earth in kilometers.
    R = 6373.0

    # Calculate the difference in longitudes between two points in radians.
    dlon = radians(138.604801) - radians(lon1)

    # Calculate the difference in latitudes between two points in radians.
    dlat = radians(-34.921247) - radians(lat1)

    # Using the Haversine formula to calculate the distance between two points on the Earth's surface.
    # 'a' represents the square of half the great-circle distance between the points.
    a = sin(dlat / 2)**2 + cos(radians(lat1)) * cos(radians(-34.921247)) * sin(dlon / 2)**2

    # 'c' is the angular distance in radians between the two points.
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    # Return the distance by multiplying the angular distance by the Earth's radius.
    return R * c

In [28]:
# Adding a new column 'dist_from_centre' to the 'out_geo' DataFrame.
# This column will store the calculated distances from the center for each geographic point.

# Using the 'apply' method to calculate distances for each row in the DataFrame 'out_geo.'
# The lambda function is applied to each row, passing the latitude and longitude values as 'x.'

# The lambda function calls 'calc_dist(*x)' to calculate the distance from the center for each point.
# The 'axis=1' parameter indicates that the function should be applied row-wise (across columns).

out_geo['dist_from_centre'] = out_geo[['latitude', 'longitude']].apply(lambda x: calc_dist(*x), axis=1)

In [29]:
# Fill missing values in the 'type' column of the 'out_geo' DataFrame with the string 'street_address'.
out_geo['type'].fillna('street_address', inplace=True)

# For each value in the 'type' column of the 'out_geo' DataFrame, split the string by commas and select the last part.
# This operation is performed using a lambda function.
out_geo['type'] = out_geo['type'].apply(lambda x: str(x).split(',')[-1])

In [30]:
# Access the 'type' column of the DataFrame 'out_geo' and retrieve unique values.
# The 'type' column likely represents different types of geographic features or data.

out_geo['type'].unique()

array(['street_address', 'transit_station', 'premise', 'political',
       'school', 'route', 'intersection', 'point_of_interest',
       'subpremise', 'real_estate_agency', 'university', 'travel_agency',
       'restaurant', 'supermarket', 'store', 'post_office'], dtype=object)

In [31]:
# This is a multiline string representing a list of holidays with dates and names.
# Each line contains a date and the name of the corresponding holida
'''Holidays--
2013-09-01,Father's Day
2013-10-07,Labour day
2013-12-25,Christmas day
2013-12-26,Proclamation Day
2014-01-01,New Year
2014-01-27,Australia Day
2014-03-10,March Public Holiday
2014-04-18,Good Friday
2014-04-19,Easter Saturday
2014-04-21,Easter Monday
2014-04-25,Anzac Day
2014-06-09,Queen's Birthday'''

"Holidays--\n2013-09-01,Father's Day\n2013-10-07,Labour day\n2013-12-25,Christmas day\n2013-12-26,Proclamation Day\n2014-01-01,New Year\n2014-01-27,Australia Day\n2014-03-10,March Public Holiday\n2014-04-18,Good Friday\n2014-04-19,Easter Saturday\n2014-04-21,Easter Monday\n2014-04-25,Anzac Day\n2014-06-09,Queen's Birthday"

In [32]:
# Defining a function 'holiday_label' that takes a 'row' as input, which is typically a date.
# Check if the input date is equal to September 1, 2013, and if so, label it as a holiday ('1').

def holiday_label (row):
    if row == datetime.date(2013, 9, 1) :
          return '1'
    if row == datetime.date(2013, 10, 6) :
          return '1'
    if row == datetime.date(2013, 12, 22) :
          return '2'
    if row == datetime.date(2013, 12, 29):
          return '1'
    if row  == datetime.date(2014, 1, 26):
          return '1'
    if row == datetime.date(2014, 3, 9):
          return '1'
    if row == datetime.date(2014, 4, 13) :
          return '2'
    if row == datetime.date(2014, 4, 20):
          return '2'
    if row == datetime.date(2014, 6, 8):
          return '1'
# If none of the above conditions are met, return '0' to indicate that the date is not a holiday

    return '0'

In [33]:
# Convert the 'WeekBeginning' column in the 'data' DataFrame to datetime format.
data['WeekBeginning'] = pd.to_datetime(data['WeekBeginning'])

# Extract only the date part (without the time) from the 'WeekBeginning' column and store it back in the same column.
# This is done using the 'dt.date' accessor to keep only the date component.
data['WeekBeginning'] = data['WeekBeginning'].dt.date

In [34]:
# Assign a new column 'holiday_label' to the 'data' DataFrame based on the 'WeekBeginning' column.
# Use the 'apply' method to apply a function to each row of the 'WeekBeginning' column.
# A lambda function is used to apply the 'holiday_label' function to each 'WeekBeginning' value.
# The 'holiday_label' function is used to determine and assign a holiday label for each date in the 'WeekBeginning' column.
# The result of applying 'holiday_label' to each row is stored in the 'holiday_label' column of the 'data' DataFrame.

data['holiday_label'] = data['WeekBeginning'].apply(lambda row: holiday_label(row))

In [35]:
# Merging dataframes: 'data' and 'out_geo'.
data = pd.merge(data, out_geo, how='left',

# Merging the dataframes using a left join, which includes all rows from the 'data' dataframe
# and matches them with corresponding rows from the 'out_geo' dataframe based on the specified keys.
# Matching rows from 'data' based on the 'StopName' column.
left_on='StopName',

# Matching rows from 'out_geo' based on the 'input_string' column.
right_on='input_string')

# This line combines data from both dataframes, linking rows based on the specified columns.

In [36]:
# Creating a list 'col' to represent the column names or field names for a dataset.

col = ['TripID', 'RouteID', 'StopID', 'StopName', 'WeekBeginning','NumberOfBoardings','formatted_address',
      'latitude', 'longitude','postcode','type','route_desc','dist_from_centre','holiday_label']

# The 'col' list serves as a reference for the column names in a dataset, making it easier to work with the data.

In [37]:
# Import the 'os' module, which provides a way to interact with the operating system, including file and directory operations.
import os

# Use the 'os.listdir' function to retrieve a list of files and directories located at the specified path.
# In this case, it lists the contents of the directory "C:\\Users\\rayya\\OneDrive\\Desktop\\IBM Project".
files = os.listdir("C:\\Users\\rayya\\OneDrive\\Desktop\\IBM Project")

# Print the list of files and directories obtained from the specified directory.
print(files)

['20140711.CSV', 'archive.zip', 'output_geo.csv', 'Public Transport Boarding Summary by Route, Trip, Stop and Week of Year.doc', 'route.csv', 'st_week_grp.csv', 'Weekly_Boarding.csv']

In [38]:
# Printing the columns of the 'data' DataFrame.

print(data.columns)

Index(['TripID', 'RouteID', 'StopID', 'StopName', 'WeekBeginning',
       'NumberOfBoardings', 'holiday_label', 'accuracy', 'formatted_address',
       'google_place_id', 'input_string', 'latitude', 'longitude',
       'number_of_results', 'postcode', 'status', 'type', 'dist_from_centre'],
      dtype='object')

In [39]:
print(data.head())

   TripID  RouteID  StopID                    StopName WeekBeginning  \
0   23631      100   14156                181 Cross Rd    2013-06-30
1   23631      100   14144                177 Cross Rd    2013-06-30
2   23632      100   14132                175 Cross Rd    2013-06-30
3   23633      100   12266  Zone A Arndale Interchange    2013-06-30
4   23633      100   14147                178 Cross Rd    2013-06-30

   NumberOfBoardings holiday_label accuracy  \
0                  1             0  ROOFTOP
1                  1             0      NaN
2                  1             0      NaN
3                  2             0      NaN
4                  1             0      NaN

                                  formatted_address  \
0  181 Cross Rd, Westbourne Park SA 5041, Australia
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN

               google_place_id  input_string   latitude   longitude  \
0  ChIJKT7I9rbPsGoRVHMHkIy-Oyk  181 Cross Rd -34.966656  138.592148
1                          NaN           NaN        NaN         NaN
2                          NaN           NaN        NaN         NaN
3                          NaN           NaN        NaN         NaN
4                          NaN           NaN        NaN         NaN

   number_of_results postcode status            type  dist_from_centre
0                1.0     5041     OK  street_address          5.180961
1                NaN      NaN    NaN             NaN               NaN
2                NaN      NaN    NaN             NaN               NaN
3                NaN      NaN    NaN             NaN               NaN
4                NaN      NaN    NaN             NaN               NaN

In [40]:
# Saving the DataFrame 'data' to a CSV file named 'Weekly_Boarding.csv' with the index column excluded.
# The 'to_csv' method is used to write the contents of the DataFrame to a CSV file.

data.to_csv('Weekly_Boarding.csv', index=False)

In [41]:
# Grouping the 'data' DataFrame by multiple columns, which are 'StopName', 'WeekBeginning', and 'type'.
# Then, aggregating the 'NumberOfBoardings' column using three aggregation functions: sum, count, and max.
grouped = data.groupby(['StopName', 'WeekBeginning', 'type']).agg({'NumberOfBoardings': ['sum', 'count', 'max']})

# Modifying the column names in the grouped DataFrame by joining them with underscores.
# This is done to have a consistent naming convention for the resulting columns.
grouped.columns = ["_".join(x) for x in grouped.columns.ravel()]

In [42]:
# Create a DataFrame 'st_week_grp' by converting the 'grouped' data into a DataFrame and resetting the index.
st_week_grp = pd.DataFrame(grouped).reset_index()

# Retrieve the shape (number of rows and columns) of the 'st_week_grp' DataFrame and store it in a variable.
shape = st_week_grp.shape

# Display the first few rows of the 'st_week_grp' DataFrame to inspect the data.
st_week_grp.head()

,StopName,WeekBeginning,type,NumberOfBoardings_sum,NumberOfBoardings_count,NumberOfBoardings_max
0,181 Cross Rd,2013-06-30,street_address,89,31,21
1,181 Cross Rd,2013-07-07,street_address,48,25,5
2,181 Cross Rd,2013-07-14,street_address,47,24,7
3,181 Cross Rd,2013-07-21,street_address,77,24,13
4,181 Cross Rd,2013-07-28,street_address,90,28,17

In [43]:
# Creating a new DataFrame 'st_week_grp1' to store the results of grouping and counting operations.

# Grouping the DataFrame 'st_week_grp' by the 'StopName' column and counting the occurrences of 'WeekBeginning' within each group.
st_week_grp1 = pd.DataFrame(st_week_grp.groupby('StopName')['WeekBeginning'].count()).reset_index()

# Resetting the index of the resulting DataFrame to make it more accessible and have a default numeric index.

In [44]:
# Extract a subset of data from the DataFrame 'st_week_grp1' where the 'WeekBeginning' column has a value of 54.
# This filters rows that match the condition (e.g., WeekBeginning is 54).

aa = list(st_week_grp1[st_week_grp1['WeekBeginning'] == 54]['StopName'])

# Create a list ('aa') by extracting the values from the 'StopName' column in the filtered DataFrame.
# This list contains the 'StopName' values for the rows where 'WeekBeginning' is equal to 54.

In [45]:
# Filter the DataFrame 'st_week_grp' by selecting rows where the 'StopName' column matches values in the 'aa' variable.
bb = st_week_grp[st_week_grp['StopName'].isin(aa)]

In [46]:
# Using the 'to_csv' method to export the DataFrame 'bb' to a CSV file named 'st_week_grp.csv'.
# The 'index' parameter is set to 'False' to prevent writing the DataFrame's index as a separate column in the CSV file.
# This line of code saves the DataFrame 'bb' as a CSV file for data storage or sharing.

bb.to_csv('st_week_grp.csv', index=False)

In [47]:
# Using the Pandas DataFrame 'data' to perform a unique value count operation.
# The method 'nunique()' is called on the DataFrame 'data' to count the number of unique values in each column.
data.nunique()

TripID               3293
RouteID                20
StopID                963
StopName              577
WeekBeginning          54
NumberOfBoardings     160
holiday_label           3
accuracy                1
formatted_address       3
google_place_id         3
input_string            3
latitude                3
longitude               3
number_of_results       1
postcode                1
status                  1
type                    1
dist_from_centre        3
dtype: int64

In [48]:
data.shape
data.columns
data.head(3)

(1048575, 18)

Index(['TripID', 'RouteID', 'StopID', 'StopName', 'WeekBeginning',
       'NumberOfBoardings', 'holiday_label', 'accuracy', 'formatted_address',
       'google_place_id', 'input_string', 'latitude', 'longitude',
       'number_of_results', 'postcode', 'status', 'type', 'dist_from_centre'],
      dtype='object')

,TripID,RouteID,StopID,StopName,WeekBeginning,NumberOfBoardings,holiday_label,accuracy,formatted_address,google_place_id,input_string,latitude,longitude,number_of_results,postcode,status,type,dist_from_centre
0,23631,100,14156,181 Cross Rd,2013-06-30,1,0,ROOFTOP,"181 Cross Rd, Westbourne Park SA 5041, Australia",ChIJKT7I9rbPsGoRVHMHkIy-Oyk,181 Cross Rd,-34.966656,138.592148,1.0,5041,OK,street_address,5.180961
1,23631,100,14144,177 Cross Rd,2013-06-30,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23632,100,14132,175 Cross Rd,2013-06-30,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
# Using the 'isnull()' method to check for missing or NaN values in a DataFrame (assuming 'data' is a pandas DataFrame).
data.isnull().sum()

TripID                     0
RouteID                    0
StopID                     0
StopName                   0
WeekBeginning              0
NumberOfBoardings          0
holiday_label              0
accuracy             1044941
formatted_address    1044941
google_place_id      1044941
input_string         1044941
latitude             1044941
longitude            1044941
number_of_results    1044941
postcode             1044941
status               1044941
type                 1044941
dist_from_centre     1044941
dtype: int64

In [50]:
# Importing necessary libraries: 'numpy' as 'np' and 'pandas' as 'pd' to work with data efficiently.
import numpy as np
import pandas as pd

# Importing the 'os' module to work with the file system.
import os

# Using a for loop to walk through the directory tree rooted at the specified directory path.
# The 'os.walk' function generates the file names in a directory tree.
for dirname, _, filenames in os.walk("C:\\Users\\rayya\\OneDrive\\Desktop\\IBM Project"):
    # Inside the first loop, iterate through the list of filenames.
    for filename in filenames:
        # Print the full path of each file in the directory.
        print(os.path.join(dirname, filename))

C:\Users\rayya\OneDrive\Desktop\IBM Project\20140711.CSV
C:\Users\rayya\OneDrive\Desktop\IBM Project\archive.zip
C:\Users\rayya\OneDrive\Desktop\IBM Project\output_geo.csv
C:\Users\rayya\OneDrive\Desktop\IBM Project\Public Transport Boarding Summary by Route, Trip, Stop and Week of Year.doc
C:\Users\rayya\OneDrive\Desktop\IBM Project\route.csv
C:\Users\rayya\OneDrive\Desktop\IBM Project\st_week_grp.csv
C:\Users\rayya\OneDrive\Desktop\IBM Project\Weekly_Boarding.csv

In [51]:
# Removing duplicate rows from the 'data' DataFrame.
data = data.drop_duplicates()

# Importing the Seaborn library, typically used for data visualization and plotting.
import seaborn as sns

# Printing the data types of each column in the 'data' DataFrame.
print(data.dtypes)

TripID                 int64
RouteID                int64
StopID                 int64
StopName              object
WeekBeginning         object
NumberOfBoardings      int64
holiday_label         object
accuracy              object
formatted_address     object
google_place_id       object
input_string          object
latitude             float64
longitude            float64
number_of_results    float64
postcode              object
status                object
type                  object
dist_from_centre     float64
dtype: object

In [52]:
# Convert the 'accuracy' column in the 'data' DataFrame to numeric data type.
data['accuracy'] = pd.to_numeric(data['accuracy'], errors='coerce')

# Print a message indicating that mixed data types are being handled, which typically means converting non-numeric values to NaN (Not-a-Number).
print("Handle mixed data types")

# Print the shape (number of rows and columns) of the 'data' DataFrame to show the result of the data type conversion.
print(data.shape)

Handle mixed data types
(1048575, 18)

In [53]:
# Removing rows with missing values (NaN) from the 'data' DataFrame.
data = data.dropna()

# Printing a message indicating that missing values are being handled.
print("\nHandle missing values")

# Printing the shape (number of rows and columns) of the 'data' DataFrame after removing missing values.
print(data.shape)

Handle missing values
(0, 18)

In [54]:
# Convert the 'status' column in the 'data' DataFrame to a datetime format.
data['status'] = pd.to_datetime(data['status'], errors='coerce')

# Print a message to indicate that the 'status' column is being converted to a datetime format.
print("\nConvert 'status' column to date format")

# Display the first few rows of the 'status' column after the conversion to check the result.
print(data['status'].head())

Convert 'status' column to date format
Series([], Name: status, dtype: datetime64[ns])

In [55]:
data.head(3)

Empty DataFrame
Columns: [TripID, RouteID, StopID, StopName, WeekBeginning, NumberOfBoardings, holiday_label, accuracy, formatted_address, google_place_id, input_string, latitude, longitude, number_of_results, postcode, status, type, dist_from_centre]
Index: []

In [56]:
print(data.nunique())

TripID               0
RouteID              0
StopID               0
StopName             0
WeekBeginning        0
NumberOfBoardings    0
holiday_label        0
accuracy             0
formatted_address    0
google_place_id      0
input_string         0
latitude             0
longitude            0
number_of_results    0
postcode             0
status               0
type                 0
dist_from_centre     0
dtype: int64

In [57]:
data.shape
data.columns
data.head(3)

(0, 18)

Index(['TripID', 'RouteID', 'StopID', 'StopName', 'WeekBeginning',
       'NumberOfBoardings', 'holiday_label', 'accuracy', 'formatted_address',
       'google_place_id', 'input_string', 'latitude', 'longitude',
       'number_of_results', 'postcode', 'status', 'type', 'dist_from_centre'],
      dtype='object')

Empty DataFrame
Columns: [TripID, RouteID, StopID, StopName, WeekBeginning, NumberOfBoardings, holiday_label, accuracy, formatted_address, google_place_id, input_string, latitude, longitude, number_of_results, postcode, status, type, dist_from_centre]
Index: []

In [58]:
data.isnull().sum()

TripID               0.0
RouteID              0.0
StopID               0.0
StopName             0.0
WeekBeginning        0.0
NumberOfBoardings    0.0
holiday_label        0.0
accuracy             0.0
formatted_address    0.0
google_place_id      0.0
input_string         0.0
latitude             0.0
longitude            0.0
number_of_results    0.0
postcode             0.0
status               0.0
type                 0.0
dist_from_centre     0.0
dtype: float64

In [59]:
data.to_csv('cleaned_data.csv', index=False)
print("\nSave the cleaned dataset to a new CSV file")
print("Cleaned dataset saved successfully.")

Save the cleaned dataset to a new CSV file
Cleaned dataset saved successfully.